<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gudang/
    
    # Hapus ekstensi .php dari URL (redirect)
    RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
    RewriteRule ^ /%1 [R=301,NE,L]
    
    # Menangani URL tanpa ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+?)/?$ $1.php [L]
</IfModule>